# Basic relevant text files
include LICENSE.txt README.md COPYING

# Include template files
recursive-include french_toast/templates *.html
recursive-include french_toast/templates *.png
recursive-include french_toast/templates *.css
recursive-include french_toast/templates *.js
recursive-include bin/ *.py

# Exclude junk
global-exclude .DS_Store